/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}
/* Second color : rgb(85, 41, 220); */

/* body */
body {

    background-color: #020631;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

/* logo */
.logo {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    background-image: url("Black\ and\ White\ Minimal\ Monogram\ Logo.png");
    background-position: center;
    background-size: cover;
    margin: 100px auto 20px;
}
/* title */
.title {
    color: white;
}
/* input */
.user-input {
    margin-right: -120px;
    height: 30px;
    width: 300px;
    margin: 10px 0;
    padding: 0 15px 0 5px;
    outline: none;
}
.add-button {
    margin-left: -12px;
    width: 20px;
    height: 30px;
}
.add-button:hover {
    background-color: tomato;
}
ul {
    text-align: left;
}

li {
    width: 314px;
    margin: 5px auto;
    height: 30px;
    padding: 5px;

}
li:hover {
    background-color: rgb(85, 41, 220);
    text-decoration: line-through 2px solid yellow;
    color: white;
}

.br-5 {
    border-radius: 5px;
}
.bg-w {
    background-color: white;
    color: #333;
}
.checkbox {
    height: 10px;
    width: 10px;
    
}