@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

/* ### Primary

- Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%) */

/* - Family: [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display)
- Weights: 400

### Body

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */

/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */
body {
  height: 100vh;
  width: 100vw;
  font-family: "Karla", sans-serif;
  /* overflow-x: hidden; */
}

nav {
  /* background-color: aliceblue; */
  height: 3em;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.humburger {
  height: 1.5em;
}
.logo {
  height: 1em;
}

.desktop-items {
  display: none;
}

.pic-holder {
  height: 60%;
  background-image: url("/images/image-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  height: 60%;
  background-color: hsl(270, 9%, 17%);
  color: white;
  padding: 25% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}
.banner button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 30px;
}

.lines-top {
  background-image: url("/images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0;
}
.lines-bottom {
  background-image: url("/images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  /* background-position: right; */
  background-position-x: right;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 65%;
}
@media screen and (min-width: 900px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 20px 12%;
  }
  .humburger {
    display: none;
  }
  .desktop-items {
    display: flex;
    width: 420px;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-items button {
    background-color: transparent;
    border: 1px solid black;
    padding: 5px 12px;
    margin-left: 15px;
  }
  .pic-holder {
    background-image: url("/images/image-intro-desktop.jpg");

    height: 70%;
    width: 40%;

    z-index: 2;

    position: absolute;

    bottom: 0;
    right: 70px;
  }

  .banner {
    padding: 10% 50% 10% 10%;
    height: 80%;
    text-align: left;
    align-items: flex-start;
    justify-content: space-evenly;
  }


.lines-top {
  background-image: url("/images/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: right;
  height: 90%;
  width: 90%;
  z-index: 3;

}
.lines-bottom {
  
  background-image: url("/images/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;

  position: absolute;
  height: 100%;
  width: 50%;
  margin-left: -10%;
}
hr {
  /* border: 3px solid wheat; */
  /* color: white; */
  height: 2px;
  width: 30%;
  background-color: white;
}
}
